.canvas{
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    transition: .3s filter;
    user-select: none;
    position: relative;
} 
.canvas-zoomcontainer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.product{
    height: 100%;
    width: 100%;
}

.product-photo {
    position: absolute;
    border-style: none;
    top: 0px;
    height: 91vh;
    left: 0;
    right: 0;
    margin: auto;
}
.guideline{
    position: absolute;
    display: block;
    text-transform: capitalize;
    border: 1px solid;
    opacity: 0;
    transition: opacity .15s .15s;
    color: rgb(158, 148, 148);
    border-color: rgb(158, 148, 148);
}

.guideline-title h5{
    font-size: .9rem;
    line-height: 1rem;
    margin: 0;
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(158, 148, 148);
}

.design-printablearea {
    position: absolute;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* user-select: none;
    pointer-events: none; */
}

.design-centerline{
    color: rgb(158, 148, 148);
    align-self: center;
    height: 100%;
    width: 1px;
    border-right: 1px dashed;
    pointer-events: none;
    visibility: hidden;
}

.canvascontainer-pagecontainer-design{
    width: 20vw;
    height: 55vh;
    margin: 15vh auto;
    position: relative;;
}
.foundryimage {
    pointer-events: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.product-photo{
    pointer-events: none;
}
.react-draggable-transparent-selection .guideline{
    opacity: 1 !important;
}
.guideline.adult {
    width: 100%;
    height: 100%;
}
.guideline.chest{
    width: 40%;
    height: 20%;
    top: 2.5%;
    right: 5%;
    text-align: left;
}
.guideline.youth{
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
}
.design-selection-handle {
    position: absolute;
    width: 28px;
    height: 28px;
    margin: -2px;
    background: white;
    border-radius: 100%;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    /* cursor: nwse-resize; */

}
.design-selection-handle.isresize {
    right: -24px;
    bottom: -26px;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}
.design-selection-handle.isdelete {
    left: -24px;
    top: -26px;
    z-index: 11;
    user-select: none;
    pointer-events: none;
    cursor: pointer;
}
.design-selection-handle svg {
    width: 28px;
    height: 28px;
}
.design-selection {
    z-index: -1;
}
.react-draggable.active .design-selection::after {
    visibility: visible;
}
.design-selection::after{
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    padding: 1px;
    border: 2px solid;
    box-sizing: content-box;
    pointer-events: none;
    visibility: hidden;
}
.react-draggable:hover .design-selection::after {
    border: 1px dashed;
    visibility: visible;
}
.react-draggable.active:hover .design-selection::after {
    border: 2px solid;
}

.corner-handle.bottom-left, .corner-handle.right, .corner-handle.top, .corner-handle.bottom, .corner-handle.left, .corner-handle.top-left, .corner-handle.top-right{
    display: none;
}

.corner-handle.bottom-right{
    width: 28px !important;
    height: 28px !important;
    right: -26px !important;
    bottom: -28px !important;
    border-radius: 90px !important;
}

.react-draggable.active[style*="user-select: none;"] .design-selection, .react-draggable-dragging.active .design-selection, .react-draggable-dragging.active .design-selection::after {
    visibility: hidden !important;
}
.react-draggable.active[style*="user-select: none;"] .design-selection::after,  .react-draggable-dragging.active{
    border: 1px dashed !important;
}